@import "tailwindcss";

@theme {
    --color-brand-orange: #eb671b;
    --color-studio-bg: #f1f5f9;
    --color-studio-card: #ffffff;
}

@layer base {
    body {
        @apply bg-studio-bg text-slate-900 antialiased;
        font-family: 'Outfit', sans-serif;
    }
}

.premium-shadow {
    box-shadow: 0 10px 40px -10px rgba(0, 0, 0, 0.05);
}

.inner-border {
    border: 1px solid rgba(0, 0, 0, 0.05);
}